{% extends 'layout.html.twig' %}

{% block content %}
    <h1>Preventivo list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Enfermedad</th>
                <th>Descripcion</th>
                <th>Gruporiesgo</th>
                <th>Recomendacion</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for preventivo in preventivos %}
            <tr>
                <td><a href="{{ path('preventivo_show', { 'id': preventivo.id }) }}">{{ preventivo.id }}</a></td>
                <td>{{ preventivo.enfermedad }}</td>
                <td>{{ preventivo.descripcion }}</td>
                <td>{{ preventivo.grupoRiesgo }}</td>
                <td>{{ preventivo.recomendacion }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('preventivo_show', { 'id': preventivo.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('preventivo_edit', { 'id': preventivo.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('preventivo_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
