{% extends 'base.html.twig' %}

{% block body %}
    <h1>UserLocation</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ userLocation.id }}</td>
            </tr>
            <tr>
                <th>Longitude</th>
                <td>{{ userLocation.longitude }}</td>
            </tr>
            <tr>
                <th>Latitude</th>
                <td>{{ userLocation.latitude }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('userlocation_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('userlocation_edit', { 'id': userLocation.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
