<div>
    <a href="{{ path('causa_index') }}">Causa</a>
    <a href="{{ path('centro_index') }}">Centro</a>
    <a href="{{ path('cita_index') }}">Cita</a>
    <a href="{{ path('molestia_index') }}">Molestia</a>
    <a href="{{ path('precio_index') }}">Precio</a>
    <a href="{{ path('preventivo_index') }}">Preventivo</a>
    <a href="{{ path('servicio_index') }}">Servicio</a>
    <a href="{{ path('subtipo_index') }}">Subtipo</a>
    <a href="{{ path('userlocation_index') }}">User Location</a>
</div>