{% extends 'layout.html.twig' %}

{% block content %}
    <h1>Causa</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ causa.id }}</td>
            </tr>
            <tr>
                <th>Nombreenfermedad</th>
                <td>{{ causa.nombreEnfermedad }}</td>
            </tr>
            <tr>
                <th>Tipocausa</th>
                <td>{{ causa.tipoCausa }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('causa_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('causa_edit', { 'id': causa.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
