{% extends 'layout.html.twig' %}

{% block content %}
    <h1>Precio list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Precio</th>
                <th>Compra</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for precio in precios %}
            <tr>
                <td><a href="{{ path('precio_show', { 'id': precio.id }) }}">{{ precio.id }}</a></td>
                <td>{{ precio.precio }}</td>
                <td>{{ precio.compra }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('precio_show', { 'id': precio.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('precio_edit', { 'id': precio.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('precio_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
